@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	@font-face {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 100 900;
		font-display: swap;
		src: url('/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Inter';
		font-style: italic;
		font-weight: 100 900;
		font-display: swap;
		src: url('/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
	}

	html {
		font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
		font-size: 16px;
		line-height: 1.5;
	}

	::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	::-webkit-scrollbar-track {
		background-color: rgba(39, 39, 42, 0.3);
	}

	::-webkit-scrollbar-thumb {
		background-color: rgba(39, 39, 42, 0.4);
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: rgba(104, 104, 104, 0.9);
	}

	input[type="range"] {
		-webkit-appearance: none;
		appearance: none;

		background: transparent;
		cursor: pointer;
		width: 100%;
	}

	input[type="range"]::-webkit-slider-runnable-track {
		background-color: white;
		height: 0.7rem;
	}

	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		/* Override default look */
		appearance: none;
		/* Centers thumb on the track */
		background-color: black;
		height: 0.7rem;
		width: 0.5rem;
	}

	input[type="range"]::-webkit-slider-thumb:hover {
		-webkit-appearance: none;
		/* Override default look */
		appearance: none;
		/* Centers thumb on the track */
		background-color: gray;
		height: 0.7rem;
		width: 0.5rem;
	}

	.node-labels {
		fill: currentColor;
	}

	.link-labels {
		fill: currentColor;
	}
}


@layer components {
	body {
		@apply bg-white dark:bg-zinc-950 text-black dark:text-white;
	}

	label {
		@apply text-xs mb-1;
	}

	select {
		@apply text-black dark:text-white bg-white dark:bg-zinc-950;
	}

	.btn-primary {
		@apply bg-zinc-700 text-white hover:opacity-80 disabled:opacity-50;
	}

	.btn-transparent {
		@apply hover:opacity-80;
	}

	.node-labels,
	.link-labels {
		@apply text-black dark:text-white text-[0.4rem] capitalize;
	}

	.text-link {
		@apply hover:opacity-70;
	}
}